{{page-title "Happyfox"}}

<div class="page-layout">
  <div class="top-bar-layout">
    <TopBar />
  </div>

  <div class="body-layout">
    <div>

      <PinnedTickets />
    </div>
    <div class="side-menu-layout">
      <SideMenu />
    </div>
    <div class="main-container-layout">
      {{outlet}}
    </div>
  </div>
</div>